.w-30{ width: 30%; }
.w-70{ width: 70%; }

.h-50{ height: 50%; }

.p-0{ padding: 0; }

.d-f{display: flex}

.fd-r{ flex-direction: row; }
.fd-c{ flex-direction: column; }

.g-10{ gap: 10px; }

.jc-c{justify-content: center}
.ai-c{align-items: center}
.jc-sb{justify-content: space-between}

.fg-1{ flex-grow: 1; }

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }

.mb-5{ margin-bottom: 5px;}
.mb-10{ margin-bottom: 10px;}
.mb-15{ margin-bottom: 15px;}
.mb-20{ margin-bottom: 20px;}

.fs-12{ font-size: 12px; }
.fs-14{ font-size: 14px; }
.fs-18{ font-size: 18px; }
.fs-20{ font-size: 20px; }
.fs-24{ font-size: 24px; }
.fs-30{ font-size: 30px; }

.fw-500{ font-weight: 500; }

.u-pl-15{ padding-left: calc(15% + 15px); }

.tb-r{border: red 1px solid;}


