@use "@assets/scss/consts" as *;

.main_div{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100vh - 50px);
  box-sizing: border-box;
  gap: 15px;
  padding: 20px;
}
.action_div {
  display: flex;
  flex-direction: column;
  width: calc(70% - 15px);
  height: calc(50% - 15px);
  border: $base_color_border;
  background-color: $action_background;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 0 20px;

  &.big{
    width: calc(70% - 15px);

    &.lastOperations{
      padding: 0;

    }

  }
  &.small{
    width: calc(30% - 15px);
  }
}

.today{
  box-sizing: border-box;
  display: flex;

  &.title_div{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }

  &.money_info{
    width: 100%;
    height: auto;
    gap: 10px;
    flex-direction: row;
  }

  &.money_block{
    background-color: $block_background_1;
    flex-direction: column;
    width: calc(100%/3);
    height: auto;
    border-radius: 15px;
    border: $base_color_border;
    padding: 10px;
    justify-content: flex-start;
  }

  &.categories_div{
    margin-top: 5px;
    max-height: 100px;
    width: 100%;
    height: auto;
    gap: 8px;
    flex-wrap: wrap;
    overflow-y: auto;
    padding-right: 5px;
    align-content: flex-start;
  }

  &.subscription_div_1{
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    height: auto;
    flex-direction: column;
    border-top: $base_color_border;
    overflow-x: auto
  }
  &.subscription_div_2{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  &.subscription_div_3{
    background-color: $block_background_1;
    border: $base_color_border;
    width: calc(100%/2 - 5px);
    height: auto;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &.subscription_info_div{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex-grow: 1;
  }
  .title_div{
    display: flex;
    flex-direction: row;
  }
}

.lastOperations{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &.title_div{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 0 20px;
    flex-shrink: 0;
  }

  &.operations_list {
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
  }

  &.listOperation_div{
    border-top: $base_color_border;
    width: 100%;
    height: auto;
    padding: 0 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 1;
  }
}

.upcomingSubscriptions{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &.title_div{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    gap: 6px;
    flex-shrink: 0;
  }
  &.upcomingSubscription_list {
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
  }

  &.upcomingSubscription_div{
    background-color: $block_background_1;
    border: $base_color_border;
    width: calc(100% - 5px);
    height: auto;
    border-radius: 15px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
