@use "@assets/scss/consts" as *;

.sub_div{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.table_action_div{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 70%;
  height: 70vh;
  border: $base_color_border;
  background-color: $action_background;
  border-radius: 15px;

  &.w-100{
    width: 100%;
  }
}

.sub_table{
  border-collapse: collapse;
  border-top: 2px solid $base_color_border;
  border-bottom: 2px solid $base_color_border;
  border-left: none;
  border-right: none;

}
.cell_title {
  color: $base_color_text_2;
  font-family: $base_font_family;
  font-size: 14px;
  padding: 8px 20px;
  text-align: left;
  width: auto;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
}
.cell_value {
  color: $base_color_text_1;
  font-family: $base_font_family;
  font-size: 16px;
  padding: 10px 20px;
  text-align: left;
  width: auto;
  gap: 10px;
  align-items: baseline;
}

td, th{
  border-bottom: $base_color_border;
  padding: 10px;
}
.test{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 5px
}

tr:last-child td {
  border-bottom: none;
}

.sub_every_div{
  display: flex;
  flex-direction: column;
  width: 50%;
}
