$base_background: #0b0f12;
$base_font_family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji;

$base_color_text_1: #f1f5f9;
$base_color_text_2: #9ca3af;
$base_color_text_3: #64748b;

$link_color: #a5b4fc;
$expenses_color: #fda4af;
$revenue_color: #6ee7b7;
$progress_bar_color: rgba(16, 185, 129, 0.7);

$base_color_border: rgba(255, 255, 255, 0.1) solid 1px;

$action_background: rgba(255, 255, 255, 0.04);

$block_background_1: rgba(0, 0, 0, 0.2);
$block_background_2: rgba(0, 0, 0, 0.3);

$blue_background: rgb(26, 27, 44);
$blue_border: rgb(58, 61, 103) solid 1px;
$blue_text_color: rgb(201, 210, 250);

$red_background: rgb(39, 25, 30);
$red_border: rgb(98, 54, 62) solid 1px;
$red_text_color: rgb(238, 200, 204);

$yellow_background: rgb(40, 34, 26);
$yellow_border: rgb(101, 82, 41) solid 1px;
$yellow_text_color: rgb(249, 231, 150);

$green_background: rgb(25, 36, 33);
$green_border: rgb(49,88, 71) solid 1px;
$green_text_color: rgb(184, 241, 210);

$base_color_icon: #cbd5e1;
$magic_mint_color_icon: #a7f3d0;
$pastel_pink_color_icon: #fecdd3;
$sweet_pink_color_icon: #fda4af;
$riptide_color_icon: #6ee7b7;
$melrose_color_icon: #a5b4fc;
$malibu_color_icon: #7dd3fc;
$blue_color_icon: #1163cf;
$sweet_corn_color_icon: #fde68a;
$melrose_shop_color_icon: #c4b5fd;
$mustard_color_icon: #fcd34d;
$golden_color_icon: #fc9f4d;
$green_color_icon: #45ffa9;
$red_color_icon: #ff122f;
$periwinkle_color_icon: #c7d2fe;
$orange_color_icon: #f59e0b;

$progress_bg: #e0e0de;
$progress_color_red: #ff4444;
$progress_color_yellow: #ffaa00;
$progress_color_green: #44ff44;
