$base_background: #0b0f12;
$base_font_family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji;

$base_color_text_1: #f1f5f9;
$base_color_text_2: #9ca3af;


$sidebar_border: rgba(255, 255, 255, 0.1) 1px solid ;
$action_border: rgb(46, 49, 51) solid 1px;
$action_background: rgb(22, 24, 27);

$blue_background: rgb(26, 27, 44);
$blue_border: rgb(58, 61, 103) solid 1px;
$blue_text_color: rgb(201, 210, 250) solid 1px;

$red_background: rgb(39, 25, 30);
$red_border: rgb(98, 54, 62);
$red_text_color: rgb(238, 200, 204) solid 1px;

$yellow_background: rgb(40, 34, 26);
$yellow_border: rgb(101, 82, 41) solid 1px;
$yellow_text_color: rgb(249, 231, 150) solid 1px;

$green_background: rgb(25, 36, 33);
$green_border: rgb(49,88, 71) solid 1px;
$green_text_color: rgb(184, 241, 210) solid 1px;
